* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	background-color: #f4f4f4;
}

a {
	text-decoration: none;
	color: #fff;
	font-family: math;
	cursor: pointer;
}

h3 {
	font-family: math;
	font-size: 24px;
}

p, h1, h2, h4, h5 {
	font-family: math;
}

.main {
	min-height: 100%;
	margin-bottom: -60px;
}

.header {
	background: white;
	height: 80px;
	width: 100%;
}

.logo {
	float: left;
	color: #ffa000;
	font-size: 45px;
	padding: 3px;
	margin-left: 45px;
	cursor: pointer;
}

.head_btn {
	margin-right: 45px;
	float: right;
	line-height: 10px;
	margin-top: 22px;
	height: 10px;
	color: #fff;
	user-select: none;
	background: #ffa000;
	padding: .7em 3.5em;
	outline: none;
	box-shadow: 0 -3px #eb8d00 inset;
	font-weight: 700;
	cursor: pointer;
}

.head_btn:hover {
	background: #ffa500;
}

.head_btn:active {
	background: #eb8d00;
}

.content {
	display: flex;
	height: 100%;
}

.file {
    height: 80%;
	display: flex;
	width: 100%;
}

.image {
	width: 450px;
	padding: 5% 0% 0% 10%;
}

.name {
	margin-top: 16%;
	width: 25%;
	display: flex;
	justify-content: center;
	margin-left: 20%;
	flex-flow: wrap;
}

.text {
	width: 100%;
	text-align: center;
	word-break: break-word;
}

.btn {
	line-height: 10px;
	height: 10px;
	color: #fff;
	user-select: none;
	width: 100px;
	text-align: center;
	background: #ffa000;
	padding: .7em 3.5em;
	outline: none;
	box-shadow: 0 -3px #eb8d00 inset;
	font-weight: 700;
	margin: 0 auto;
	margin-top: -100px;
}

.btn:hover {
	background: #ffa500;
}

.btn:active {
	background: #eb8d00;
}

.footer {
	height: 60px;
	border: 0px solid transparent;
	background: #1C1C1C;
}

.footer h3 {
	text-align: center;
	color: #fff;
	line-height: 60px;
}