* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

a {
	text-decoration: none;
	color: #fff;
	font-family: 'Cormorant', serif;
	font-family: 'Source Sans Pro', sans-serif;
}

h3 {
	font-family: 'Cormorant', serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
}

.main {
	min-height: 100%;
	margin-bottom: -60px;
}

.header {
	height: 80px;
	width: 100%;
}

.logo {
	float: left;
	padding: 5px;
	margin-left: 45px;
}

.head_btn {
	margin-right: 45px;
	float: right;
	line-height: 10px;
	margin-top: 22px;
	height: 10px;
	color: #fff;
	user-select: none;
	background: rgb(33, 168, 244);
	padding: .7em 3.5em;
	outline: none;
	box-shadow: 0 -3px rgb(9, 111, 171) inset;
	font-weight: 700;
}

.head_btn:hover {
	background: rgb(0,191,255);
}

.head_btn:active {
	background: rgb(9,111,171);
}

.content {
	display: grid;
}

.img1 h3 {
	float: left;
	color: rgb(33, 168, 244);
	width: 25%;
	margin-left: 200px;
	margin-top: 300px;
}

.img1 a {
	margin-right: 14.5%;
}

.img1 img {
	float: right;
	margin-right: 100px;
}

.img2 h3 {
	float: right;
	color: rgb(33, 168, 244);
	width: 25%;
	margin-right: 200px;
	margin-top: 260px;
}

.img2 a {
	margin-right: 17%;
}

.img2 img {
	float: left;
	margin-left: 100px;
}

.img3 h3 {
	float: left;
	color: rgb(33, 168, 244);
	width: 25%;
	margin-left: 200px;
	margin-top: 270px;
}

.img3 a {
	margin-right: 10%;
}

.img3 img {
	margin-top: 100px;
	float: right;
	margin-right: 100px;
}

.footer {
	margin-top: 200px;
	height: 60px;
	border: 0px solid transparent;
	background: #1C1C1C;
}

.footer h3 {
	text-align: center;
	color: #fff;
	line-height: 60px;
}