* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

a {
	text-decoration: none;
	color: #fff;

	font-family: cursive;
	cursor: pointer;
}

h3 {

	font-family: cursive;
	font-size: 24px;
}

p, h1, h2, h4, h5 {

	font-family: cursive;
}

.main {
	min-height: 100%;
	margin-bottom: -60px;
}

.header {
	background: white;
	height: 80px;
	width: 100%;
}

.logo {
	float: left;
	color: #ffa000;
	font-size: 45px;
	padding: 3px;
	margin-left: 45px;
	cursor: pointer;
}

.tarif {
	color: #eb8d00;
	float: right;
	margin-right: 50px;
	text-align: center;
	margin-top: 25px;
}

.head_btn {
	margin-right: 45px;
	float: right;
	line-height: 10px;
	margin-top: 22px;
	height: 10px;
	color: #fff;
	user-select: none;
	background: #ffa000;
	padding: .7em 3.5em;
	outline: none;
	box-shadow: 0 -3px #eb8d00 inset;
	font-weight: 700;
}

.head_btn:hover {
	background: #ffa500;
}

.head_btn:active {
	background: #eb8d00;
}

.content {
	display: grid;
}

.img1 {
	width: 100%;
	height: 600px;
	background: url("../images/ba.jpg");
	background-size: 2500px 1000px;
}

.img1 h3 {
	font-size: 28px;
}

.img1-cont {
	width: 50%;
	color: white;
	margin: 14% 5%;
}

.img1-cont a {
	float: left;
	padding: 0.7em 5em;
}

.img2 {
	height: 340px;
	width: 100%;
	background: lavender;
	text-align: center;
}

.img2 h3 {
	padding-top: 45px;
	padding-bottom: 45px;
}

.img2-cont {
	display: flex;
	text-align: center;
	justify-content: space-around;
}

.img2-cont-text {
	width: 30%;
}

.img2-cont-text-zag {
	font-size: 28px;
}

.img2-cont-text-tag {
	padding-top: 15px;
	font-size: 18px;
}

.img3 {
	width: 100%;
	height: 350px;
	display: flex;
	justify-content: space-around;
}

.img3-cont {
	text-align: center;
	padding-top: 120px;
}

.img3-cont h3 {
	padding-bottom: 50px;
}

.img3-cont a {
	float: none;
	margin: auto;
}

.footer {
	margin-top: 60px;
	height: 60px;
	border: 0px solid transparent;
	background: #1C1C1C;
}

.footer h3 {
	text-align: center;
	color: #fff;
	line-height: 60px;
}