.list_files a
{
    display: inline-block;
    padding-right: 0px;
    background: url(../images/icons/none.png) no-repeat left 3px;
}

.list_files a[href $='.pdf']
{
    display: inline-block;
    padding-right: 0px;
    background: url(../images/icons/pdf.png) no-repeat left 3px;
}

.list_files a[href $='.png']
{
    display: inline-block;
    padding-right: 0px;
    background: url(../images/icons/png.png) no-repeat left 3px;
}