* {
	margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
	background-color: #f4f4f4;
}

a {
	text-decoration: none;
	font-family: 'Cormorant', serif;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
}

h1, h2, h3, h4 {
	font-family: 'Cormorant', serif;
	font-family: 'Source Sans Pro', sans-serif;
}

input {
	font-family: 'Cormorant', serif;
	font-family: 'Source Sans Pro', sans-serif;
}

.main {
	min-height: 100%;
    margin-bottom: -60px;
}

.header {
	height: 80px;
	width: 100%;
	background: white;
}

.logo {
	float: left;
	color: #ffa000;
	font-size: 45px;
	padding: 8px;
	margin-left: 45px;
}

.head_btn {
	margin-right: 45px;
	float: right;
	line-height: 10px;
	margin-top: 22px;
	height: 10px;
	color: #fff;
	user-select: none;
	background: #ffa000;
	padding: .7em 3.5em;
	outline: none;
	box-shadow: 0 -3px #eb8d00 inset;
	font-weight: 700;
}

.head_btn:hover {
	background: #ffa500;
}

.head_btn:active {
	background: #eb8d00;
}

.alert {
	padding-top: 50px;
	color: red;
	text-align: center;
}

.content {
	width: 400px;
	height: 400px;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}

.log {
	background-color: white;
	border: 1px solid #bdbdbd;
}

.log h2 {
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	color: #ffa000;
}

.log form {
	padding-left: 70px;
}

.btn {
	display: flex;
	margin: auto;
	margin-top: 15px;
    line-height: 10px;
    color: #fff;
  	user-select: none;
  	background: #ffa000;
  	padding: .9em 3.5em;
  	outline: none;
	border: 1px solid #bdbdbd;
	margin-bottom: 10px;
	box-shadow: 0 -3px #eb8d00 inset;
	font-weight: 700;
}

.btn:hover {
	background: #ffa500;
} 

.btn:active {
	background: #eb8d00;
}

.input {
	margin-top: 10px;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: cursive;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #bdbdbd;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #bdbdbd;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.forget {
	display: block;
	text-align: center;
	margin-bottom: 30px;
	color: #ffa000;
}

#forget {
	background: rgba(102, 102, 102, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.okno {
	width: 395px;
	height: 180px;
	text-align: center;
	display: grid;
	border: 3px solid #bdbdbd;
	color: #ffa000;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: #fff;
}

.okno input {
	width: 70%;
	margin-top: 15px;
	margin-bottom: 10px;
}

#forget:target {display: block}

.close {
	color: black;
	position: relative;
	float: right;
	padding-top: 5px;
	padding-right: 15px;
}

.close:checked {display: none}

.footer {
	height: 60px;
	border: 0px solid transparent;
	background: #1C1C1C;
}

.footer h3 {
	text-align: center;
	color: #fff; 
	line-height: 60px;
}
