* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

a {
	text-decoration: none;
	color: #fff;
	font-family: 'Cormorant', serif;
	font-family: 'Source Sans Pro', sans-serif;
}

h3 {
	font-family: 'Cormorant', serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
}

p, h1, h2, h4, h5 {
	font-family: 'Cormorant', serif;
	font-family: 'Source Sans Pro', sans-serif;
}

.main {
	min-height: 100%;
	margin-bottom: -60px;
}

.header {
	background: white;
	height: 80px;
	width: 100%;
}

.logo {
	float: left;
	color: #ffa000;
	font-size: 45px;
	padding: 8px;
	margin-left: 45px;
}

.head_btn {
	margin-right: 45px;
	float: right;
	line-height: 10px;
	margin-top: 22px;
	height: 10px;
	color: #fff;
	user-select: none;
	background: #ffa000;
	padding: .7em 3.5em;
	outline: none;
	box-shadow: 0 -3px #eb8d00 inset;
	font-weight: 700;
}

.head_btn:hover {
	background: #ffa500;
}

.head_btn:active {
	background: #eb8d00;
}

.content {
	display: flex;
	height: 100%;
	background: lavender;
}

.pricing {
	margin-top: 80px;
	width: 100%;
	height: 300px;
	background: aqua;
}

.pricing-cont {

}

.footer {
	margin-top: 60px;
	height: 60px;
	border: 0px solid transparent;
	background: #1C1C1C;
}

.footer h3 {
	text-align: center;
	color: #fff;
	line-height: 60px;
}