* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: cursive;

    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    font-family: cursive;

}

input {
    font-family: cursive;

}

p {
    font-family: cursive;

    margin: 12px;
}

.main {
    min-height: 100%;
    margin-bottom: -60px;
}

.background {
    width: 84%;
    padding-left: 16%;
    height: 100%;
    background: #f4f4f4;
}

.menu-bar {
    background: #1C1C1C;
    width: 100%;
    height: 5%;
    color: white;
}

.buttons a {
    text-decoration: none;
    color: white;
}

.buttons ul {
    display: flex;
}

.buttons li {
    list-style-type: none;
    display: inline-block;
}

.memory-info {
    margin-left: auto;
}

.content-profile {
    position: inherit;
    width: 100%;
    padding-top: 40px;
}

.content-profile h1 {
    margin-left: 75px;
}

.profile {
    width: 100%;
}

.profile .user {
    margin: 5px;
    padding-left: 120px;
    font-size: 20px;
}

.profile .user a {
    color: #ffa000;
}

.underprofile {
    padding-left: 150px;
    margin-top: 15%;
    font-size: 15px;
}

.underprofile a {
    color: black;
}

.footer {
    height: 60px;
    background: #1C1C1C;
    width: 100%;
}

.footer h3 {
    text-align: center;
    color: #fff;
    line-height: 60px;
}

.forget {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    color: #ffa000;
}

#updateUser {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.okno {
    width: 395px;
    height: 120px;
    text-align: center;
    display: grid;
    border: 3px solid #bdbdbd;
    color: #ffa000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}

#updateUser input {
    height: 30px;
    width: 70%;
    margin-top: 15px;
    margin-bottom: 10px
}

#updateUser:target {display: block}

.close {
    color: black;
    position: relative;
    float: right;
    padding-top: 5px;
    padding-right: 15px;
}

.close:checked {display: none}

#updatePassword {
    text-align: center;
    margin-bottom: 30px;
    color: #ffa000;
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#updatePassword .okno {
    height: 150px;
}

#updatePassword:target {display: block}

#deleteAccount {
    text-align: center;
    margin-bottom: 30px;
    color: #ffa000;
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#deleteAccount .okno {
    height: 150px;
}

#deleteAccount:target {display: block}