* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

a {
    font-family: 'Cormorant', serif;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Cormorant', serif;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    position: inherit;
    margin: 12px;
    font-family: 'Cormorant', serif;
    font-family: 'Source Sans Pro', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-size: 18px;
    padding: 10px;
}

.main {
    min-height: 100%;
    margin-bottom: -60px;
    display: flow-root;
    width: 100%;
}

.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 12px;
    margin-left: 45px;
}

.search {
    margin-left: 45px;
    width: 50%;
    padding-top: 22px;
    height: 40px;
}

.search input {
    height: 40px;
    width: 100%;
    border: 1px solid #f4f4f4;
    font-weight: 700;
    padding-left: 10px;
}

.head_btn {
    margin-right: 45px;
    margin-top: 22px;
    outline: none;
    user-select: none;
}

.head_btn li {
    width: 200px;
    list-style: none;
    background: rgb(33, 168, 244);
    position: relative;
}

.menu {
    box-shadow: 0 3px rgb(9, 111, 171);
}

.head_btn a {
    color: #fff;
    text-decoration: none;
    user-select: none;
    display: block;
    text-align: center;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    transition: all .3s;
    font-weight: 700;
}

.head_btn a:hover {
    background: rgb(0,191,255);
}

.head_btn a:active {
    background: rgb(9, 111, 171);
}

.head_btn ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
}

.head_btn li:hover ul {
    display: block;
}

.content {
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

.background {
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    display: table;
}

.menu-bar {
    color: #1C1C1C;
    float: left;
    width: 100%;
}

.buttons {
    padding-top: 0.8em;
    padding-left: 2em;
}

.buttons a {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .03em 0.3em calc(.1em + 3px);
    border-radius: 3px;
    background: rgb(33, 168, 244);
    box-shadow: 0 -3px rgb(9, 111, 171) inset;
    transition: 0.2s;
}
.buttons a:hover { background: rgb(0,191,255); }
.buttons a:active {
    background: rgb(9, 111, 171);
    box-shadow: 0 3px rgb(9, 111, 171) inset;
}

.buttons li {
    display: inline;
    margin: 10px;
}

.files {
    margin-top: 3%;
    background: white;
}

.files .dir {
    height: 45px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
    white-space: nowrap;
    overflow: hidden;
}

.files .file {
    height: 45px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
    white-space: nowrap;
    overflow: hidden;
}

.file_size {
    text-align: center;
    width: 120px;
}

.files .file_btn {
    text-align: center;
    -webkit-writing-mode: vertical-lr;
    width: 120px;
    overflow: auto;
}

.file_td  {
    border-top: 1px solid #f4f4f4;
    transition: .5s;
}

.file_td:hover {
    background: rgb(33, 168, 244);
    transition: 3s;
}

.file_td:hover .file_btn .rename {
    color: rgb(33, 168, 244);
    transition: 3s;
}

.file_td:hover .file_btn .doctype {
    color: rgb(33, 168, 244);
    transition: 3s;
}
.file_td:hover .file_btn .delete {
    color: rgb(33, 168, 244);
    transition: 3s;
}

#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#zatemnenie2 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#zatemnenie3 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#zatemnenie4 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.okno {
    width: 300px;
    height: 150px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}
#zatemnenie:target {display: block;}
.close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
}

#zatemnenie2:target {display: block;}
.close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
}

#zatemnenie3:target {display: block;}
.close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
}

#zatemnenie4:target {display: block;}
.close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
}

.close:hover {background: #e6e6ff;}

.footer {
    height: 60px;
    border: 0px solid transparent;
    background: #1C1C1C;
    width: 100%;
    margin-top: 100px;
}

.footer h3 {
    text-align: center;
    color: #fff;
    line-height: 60px;
}
