<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/file.css" th:href="@{/css/file.css}">
    <link rel="icon" th:href="@{/images/favicon.png}" href="../static/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Source+Sans+Pro:ital@1&display=swap"
          rel="stylesheet">
    <title>DataSky</title>
</head>
<body>

<div class="main">

    <div class="header">
        <a th:href="@{/}" class="logo">DataSky</a>
        <a th:href="@{/signup}" class="head_btn">Регистрация</a>
    </div>

    <div class="content">
        <div class="pricing">
            <div class="pricing-cont">

            </div>
        </div>
    </div>

</div>

<div class="footer">
    <h3>Разработал: Артём Леонидов</h3>
</div>

</body>
</html>