<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css" th:href="@{/css/home.css}">
    <link rel="icon" th:href="@{/images/favicon.png}" href="../static/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">
    <title>DataSky</title>
</head>
<body>

<div class="main">

    <div class="header">
        <a th:href="@{/}" class="logo"><img src="../static/images/logo.png" th:src="@{/images/logo.png}" width="250px"></a>

        <a th:href="@{/login}" class="head_btn">Войти</a>
    </div>

    <div class="content">
        <div class="img1">
            <h3>После регистрации вы получаете 10 гб хранения абсолютно бесплатно</h3>
            <img src="../static/images/content-img1.png" th:src="@{/images/content-img1.png}" width="45%">
            <a th:href="@{/signup}" class="head_btn">Начать использование</a>
        </div>
        <div class="img2">
            <h3>Храните, получайте доступ и делитесь вашими файлами из любого места</h3>
            <img src="../static/images/content-img2.jpg" th:src="@{/images/content-img2.jpg}" width="50%">
            <a th:href="@{/signup}" class="head_btn">Начать использование</a>
        </div>
        <div class="img3">
            <h3>Никогда больше не беспокойтесь о том, что вам не хватит места</h3>
            <img src="../static/images/content-img3.png" th:src="@{/images/content-img3.png}" width="50%">`
            <a th:href="@{/signup}" class="head_btn">Начать использование</a>
        </div>
    </div>

</div>

<div class="footer">
    <h3>Разработал: Артём Леонидов</h3>
</div>

</body>
</html>