<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css" th:href="@{/css/home.css}">
    <link rel="icon" th:href="@{/images/favicon.png}" href="../static/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Source+Sans+Pro:ital@1&display=swap"
          rel="stylesheet">
    <title>DataSky</title>
</head>
<body>

<div class="main">

    <div class="header">
        <a th:href="@{/}" class="logo">DataSky</a>
        <a th:href="@{/pricing}" class="tarif">Тарифы</a>
        <a th:href="@{/signup}" class="head_btn">Регистрация</a>
    </div>

    <div class="content">
        <div class="img1">
            <div class="img1-cont">
                <h3>Простота использования, надежность, конфиденциальность и безопасность</h3>
                <a th:href="@{/login}" class="head_btn">В панель управления</a>
            </div>
        </div>
        <div class="img2">
            <h3>Зачем вам DataSky в Вашей повседневности?</h3>
            <div class="img2-cont">
                <div class="img2-cont-text">
                    <div class="img2-cont-text-zag">
                        <h4>Простота использования</h4>
                    </div>
                    <div class="img2-cont-text-tag">
                        <p>Комплексное и простое в использовании решение облачного хранилища, созданное с учетом
                            требований конечного пользователя.</p>
                    </div>
                </div>
                <div class="img2-cont-text">
                    <div class="img2-cont-text-zag">
                        <h4>Доступность</h4>
                    </div>
                    <div class="img2-cont-text-tag">
                        <p>Удобство использования на нескольких устройствах, означающее, что вы получаете доступ ко всем
                            своим файлам на любом устройстве где бы Вы не находились.</p>
                    </div>
                </div>
                <div class="img2-cont-text">
                    <div class="img2-cont-text-zag">
                        <h4>Обмен файлами</h4>
                    </div>
                    <div class="img2-cont-text-tag">
                        <p>С помощью опций обмена файлами вы можете отправлять и получать большие
                            файлы от кого угодно по ссылке.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="img3">
            <div class="img3-cont">
                <h3>Зарегистрируйте БЕСПЛАТНЫЙ аккаунт сегодня и присоединяйтесь к растущему сообществу DataSky!</h3>
                <a th:href="@{/signup}" class="head_btn">Получить 10 гб бесплатно</a>
            </div>
        </div>
    </div>

</div>

<div class="footer">
    <h3>Разработал: Артём Леонидов</h3>
</div>

</body>
</html>