<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{/css/login.css}">
    <title>Авторизация</title>
</head>
<body>
<div class="main">
    <div class="header">
        <a th:href="@{/}" class="logo">DataSky</a>
        <a th:href="@{/signup}" class="head_btn">Регистрация</a>
    </div>
    <div class="alert" th:if="${param.error}">
        <h3>Неверно введена электронная почта или пароль</h3>
    </div>
    <div class="alert" th:if="${message}">
        <h3 th:text="${message}"/>
    </div>
    <div class="content">
        <div class="log">
            <h2>Авторизация</h2>
            <form name="form" th:action="@{/login}" method="post">
                <table>
                    <tr>
                        <td>
                            <input required type="email" class="input"
                                   name="email" value="" th:text="${email}" placeholder="Электронная почта"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input required minlength="8" maxlength="32" type="password" class="input"
                                   name="password" value="" th:text="${password}" placeholder="Пароль"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <input type="submit" class="btn" name="login" value="Войти" height="20px"/>
                            <br><br>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!--<div id="forget">
        <div class="okno">
            <span><a class="close" href="#">x</a></span>
            <form id="renameFileForm" name="renameFileForm" th:action="@{/forget}" method="post">
                <input type="email" class="input" name="email" placeholder="Введите вашу электронную почту">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button type="submit" class="btn">Восстановить</button>
            </form>
        </div>
    </div>-->
</div>
<div class="footer">
    <h3>Разработал: Артём Леонидов</h3>
</div>
</body>
</html>