<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/pricing.css" th:href="@{/css/pricing.css}">
    <link rel="icon" th:href="@{/images/favicon.png}" href="../static/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Source+Sans+Pro:ital@1&display=swap"
          rel="stylesheet">
    <title>DataSky</title>
</head>
<body>

<div class="main">

    <div class="header">
        <a th:href="@{/}" class="logo">DataSky</a>
        <a th:href="@{/signup}" class="head_btn">Регистрация</a>
    </div>

    <div class="content">
        <div class="pricing">
            <div class="pricing-cont" th:switch="${userstatus}">
                <h3>Выберите подходящий тарифный план:</h3>
                <div class="pricing-tarifs" th:case="'LITE'">
                    <div class="tarif">
                        <div class="tarif-text">
                            <h3>LITE</h3>
                            <h4>100гб</h4>
                            <br>
                            <p>Увеличенный объем памяти</p>
                            <p>Загрузка файла до 10 гб</p>
                            <p>Приоритетная поддержка</p>
                            <div class="tarif-btn">
                                <a class="_btn" style="
                                    background: black;
                                    box-shadow: 0 -3px black inset;

                                ">Уже приобретено</a>
                            </div>
                        </div>
                    </div>
                    <div class="tarif">
                        <div class="tarif-text">
                            <h3>STANDART</h3>
                            <h4>500гб</h4>
                            <br>
                            <p>Увеличенный объем памяти</p>
                            <p>Загрузка файла до 10 гб</p>
                            <p>Приоритетная поддержка</p>
                            <div class="tarif-btn">
                                <a class="_btn" href="#">Подключить за 249₽/мес</a>
                            </div>
                        </div>
                    </div>
                    <div class="tarif">
                        <div class="tarif-text">
                            <h3>PLUS</h3>
                            <h4>1000гб</h4>
                            <br>
                            <p>Увеличенный объем памяти</p>
                            <p>Загрузка файла до 10 гб</p>
                            <p>Приоритетная поддержка</p>
                            <div class="tarif-btn">
                                <a class="_btn" href="#">Подключить за 349₽/мес</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pricing-tarifs" th:case="'STANDART'">
                    <div class="tarif">
                        <div class="tarif-text">
                            <h3>LITE</h3>
                            <h4>100гб</h4>
                            <br>
                            <p>Увеличенный объем памяти</p>
                            <p>Загрузка файла до 10 гб</p>
                            <p>Приоритетная поддержка</p>
                            <div class="tarif-btn">
                                <a class="_btn" style="
                                    background: black;
                                    box-shadow: 0 -3px black inset;

                                ">Уже приобретено</a>
                            </div>
                        </div>
                    </div>
                    <div class="tarif">
                        <div class="tarif-text">
                            <h3>STANDART</h3>
                            <h4>500гб</h4>
                            <br>
                            <p>Увеличенный объем памяти</p>
                            <p>Загрузка файла до 10 гб</p>
                            <p>Приоритетная поддержка</p>
                            <div class="tarif-btn">
                                <a class="_btn" style="
                                    background: black;
                                    box-shadow: 0 -3px black inset;

                                ">Уже приобретено</a>
                            </div>
                        </div>
                    </div>
                    <div class="tarif">
                        <div class="tarif-text">
                            <h3>PLUS</h3>
                            <h4>1000гб</h4>
                            <br>
                            <p>Увеличенный объем памяти</p>
                            <p>Загрузка файла до 10 гб</p>
                            <p>Приоритетная поддержка</p>
                            <div class="tarif-btn">
                                <a class="_btn" href="#">Подключить за 349₽/мес</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pricing-tarifs" th:case="'PLUS'">
                    <div class="tarif">
                        <div class="tarif-text">
                            <h3>LITE</h3>
                            <h4>100гб</h4>
                            <br>
                            <p>Увеличенный объем памяти</p>
                            <p>Загрузка файла до 10 гб</p>
                            <p>Приоритетная поддержка</p>
                            <div class="tarif-btn">
                                <a class="_btn" style="
                                    background: black;
                                    box-shadow: 0 -3px black inset;

                                ">Уже приобретено</a>
                            </div>
                        </div>
                    </div>
                    <div class="tarif">
                        <div class="tarif-text">
                            <h3>STANDART</h3>
                            <h4>500гб</h4>
                            <br>
                            <p>Увеличенный объем памяти</p>
                            <p>Загрузка файла до 10 гб</p>
                            <p>Приоритетная поддержка</p>
                            <div class="tarif-btn">
                                <a class="_btn" style="
                                    background: black;
                                    box-shadow: 0 -3px black inset;

                                ">Уже приобретено</a>
                            </div>
                        </div>
                    </div>
                    <div class="tarif">
                        <div class="tarif-text">
                            <h3>PLUS</h3>
                            <h4>1000гб</h4>
                            <br>
                            <p>Увеличенный объем памяти</p>
                            <p>Загрузка файла до 10 гб</p>
                            <p>Приоритетная поддержка</p>
                            <div class="tarif-btn">
                                <a class="_btn" style="
                                    background: black;
                                    box-shadow: 0 -3px black inset;

                                ">Уже приобретено</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pricing-tarifs" th:case="*">
                    <div class="tarif">
                        <div class="tarif-text">
                            <h3>LITE</h3>
                            <h4>100гб</h4>
                            <br>
                            <p>Увеличенный объем памяти</p>
                            <p>Загрузка файла до 10 гб</p>
                            <p>Приоритетная поддержка</p>
                            <div class="tarif-btn">
                                <a class="_btn" href="#">Подключить за 149₽/мес</a>
                            </div>
                        </div>
                    </div>
                    <div class="tarif">
                        <div class="tarif-text">
                            <h3>STANDART</h3>
                            <h4>500гб</h4>
                            <br>
                            <p>Увеличенный объем памяти</p>
                            <p>Загрузка файла до 10 гб</p>
                            <p>Приоритетная поддержка</p>
                            <div class="tarif-btn">
                                <a class="_btn" href="#">Подключить за 249₽/мес</a>
                            </div>
                        </div>
                    </div>
                    <div class="tarif">
                        <div class="tarif-text">
                            <h3>PLUS</h3>
                            <h4>1000гб</h4>
                            <br>
                            <p>Увеличенный объем памяти</p>
                            <p>Загрузка файла до 10 гб</p>
                            <p>Приоритетная поддержка</p>
                            <div class="tarif-btn">
                                <a class="_btn" href="#">Подключить за 349₽/мес</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="footer">
    <h3>Разработал: Артём Леонидов</h3>
</div>

</body>
</html>