<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/settings.css" th:href="@{/css/settings.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">
    <title>Настройки</title>
</head>

<body>
    <div class="main">
        <header class="header">
            <a th:href="@{/}" class="logo"><img src="../static/images/logo.png" th:src="@{/images/logo.png}"
                    width="250px"></a>
            <ul class="head_btn">
                <li><a>Меню</a>
                    <ul>
                        <li><a th:href="@{/user/settings}">Настройки</a></li>
                        <li><a href="javascript: document.logoutForm.submit()">Выход</a></li>
                    </ul>
                </li>
            </ul>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input type="submit" th:hidden="true" value="Выйти из аккаунта" />
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            </form>
        </header>
        <div class="content" th:object="${user}">
            <h1>Ваш профиль:</h1>
            <div class="profile">
                <table>
                    <tr>
                        <td>
                            <div class="user">
                                <h3 th:text="'Имя:  ' + *{name}"></h3>
                            </div>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>
                            <div class="user">
                                <h3 th:text="'Фамилия:  ' + *{surname}"></h3>
                            </div>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>
                            <div class="user">
                                <h3 th:text="'Электронная почта:  ' + *{email}"></h3>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="buttons">
                <div class="button-rename">
                    <button type="button" class="btn" href="#">
                        <p>Изменить личные данные</p>
                    </button>
                </div>
                <div class="button-change-password">
                    <button type="button" class="btn" href="#">
                        <p>Изменить пароль</p>
                    </button>
                </div>
                <div class="button-delete-account">
                    <button type="button" class="btn" href="#">
                        <p>Удалить аккаунт</p>
                    </button>
                </div>
            </div>
            <div class="status">
                <div class="user_status" th:switch="*{status.toString()}">
                    <h3 th:case="'DEFAULT'">Ваш тарифный план: Стандартный</h3>
                    <h3 th:case="'LITE'">Ваш тарифный план: PRO Lite</h3>
                    <h3 th:case="'STANDART'">Ваш тарифный план: PRO Standart</h3>
                    <h3 th:case="'PLUS'">Ваш тарифный план: PRO Plus</h3>
                    <a href="#">
                        <h3>Подробнее</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="forms">
            <div id="zatemnenie">
                <div class="okno">
                    <span><a class="close" href="#">x</a></span>
                    <form id="renameForm" name="renameForm" th:action="@{/}" method="post">
                        <input type="name" class="input" name="email"
                               th:value="*{name}" placeholder="Введите имя">
                        <input type="surname" class="input" name="email"
                               th:value="*{surname}" placeholder="Введите фамилию">
                        <input type="email" class="input" name="email"
                               th:value="*{email}" placeholder="Введите электронную почту">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <button type="submit" class="btn">Изменить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <h3>Разработал: Артём Леонидов</h3>
    </footer>
</body>
</html>