<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/settings.css" th:href="@{/css/settings.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/menu.css" th:href="@{/css/menu.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Source+Sans+Pro:ital@1&display=swap"
          rel="stylesheet">
    <title>Настройки</title>
</head>

<body>
<div class="main">
    <div class="background">
        <div class="menu">
            <a href="/" class="menu__logo logo">DataSky</a>
            <div th:if="${url}">
                <ul class="menu__list list">
                    <li class="menu__item item">
                        <a href="/user" class="menu__link link">
                            <span>Вернуться на главную</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div th:if="${url == null}">
                <ul class="menu__list list">

                    <!--<li class="menu__item item">
                        <a href="#" class="menu__link link">
                            <img src="./img/delete.svg" alt="Delete" />
                            <span>Поиск</span>
                        </a>
                    </li>-->

                    <!-- Элемент меню -->
                    <li class="menu__item item">
                        <!-- Ссылка меню -->
                        <a href="/user" class="menu__link link">
                            <span>Главная</span>
                        </a>
                    </li>
                    <li class="menu__item item">
                        <a href="/user/images" class="menu__link link">
                            <span>Изображения</span>
                        </a>
                    </li>
                    <li class="menu__item item">
                        <a href="/user/video" class="menu__link link">
                            <span>Видео</span>
                        </a>
                    </li>
                    <li class="menu__item item">
                        <a href="/user/music" class="menu__link link">
                            <span>Музыка</span>
                        </a>
                    </li>
                    <li class="menu__item item">
                        <a href="/user/docs" class="menu__link link">
                            <span>Документы</span>
                        </a>
                    </li>
                    <li class="menu__item item">
                        <a href="/user/shared" class="menu__link link">
                            <span>Общие файлы</span>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="menu__admin admin">
                <li class="admin__item item">
                    <a href="/user/settings" class="admin__link link">
                        <span>Настройки</span>
                    </a>
                </li>
                <li class="admin__item item">
                    <a href="javascript: document.logoutForm.submit()" class="admin__link link">
                        <span>Выход</span>
                    </a>
                </li>
            </ul>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input type="submit" value="Выйти из аккаунта"/>
            </form>
        </div>
        <div class="menu-bar">
            <form class="buttons">
                <ul>
                    <div class="categories" th:if="${categories == null}">
                        <li><a href="#create-folder"><p>Создать папку</p></a></li>
                        <li><a href="#upload"><p>Загрузить файл</p></a></li>
                    </div>
                    <div class="memory-info">
                        <li><p th:text="${memory}"></p></li>
                    </div>
                </ul>
            </form>
        </div>
        <div class="content-profile" th:object="${user}">
            <h1>Ваш профиль:</h1>
            <div class="profile">
                <table>
                    <tr>
                        <td>
                            <div class="user">
                                <h3 th:text="'Имя:  ' + *{name}"></h3>
                            </div>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>
                            <div class="user">
                                <h3 th:text="'Фамилия:  ' + *{surname}"></h3>
                            </div>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>
                            <div class="user">
                                <h3 th:text="'Электронная почта:  ' + *{email}"></h3>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="buttons-profile">
                <div class="button-rename">
                    <button type="button" class="btn"
                            href="#">
                        <h3>Изменить личные данные</h3>
                    </button>
                </div>
                <div class="button-change-password">
                    <button type="button" class="btn"
                            href="#">
                        <h3>Изменить пароль</h3>
                    </button>
                </div>
                <div class="button-delete-account">
                    <button type="button"
                            class="btn" href="#"
                            style="background: orangered;box-shadow: 0 -3px #b32443 inset;">
                        <h3>Удалить аккаунт</h3>
                    </button>
                </div>
            </div>
            <div class="status">
                <div class="user_status" th:switch="*{status.toString()}">
                    <h3 th:case="'DEFAULT'">Ваш тарифный план: Стандартный</h3>
                    <h3 th:case="'LITE'">Ваш тарифный план: PRO Lite</h3>
                    <h3 th:case="'STANDART'">Ваш тарифный план: PRO Standart</h3>
                    <h3 th:case="'PLUS'">Ваш тарифный план: PRO Plus</h3>
                    <a href="#">
                        <h3>Подробнее</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="forms">
            <div id="zatemnenie">
                <div class="okno">
                    <span><a class="close" href="#">x</a></span>
                    <form id="renameForm" name="renameForm" th:action="@{/}" method="post">
                        <input type="name" class="input" name="email"
                               th:value="*{name}" placeholder="Введите имя">
                        <input type="surname" class="input" name="email"
                               th:value="*{surname}" placeholder="Введите фамилию">
                        <input type="email" class="input" name="email"
                               th:value="*{email}" placeholder="Введите электронную почту">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <button type="submit" class="btn">Изменить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <h3>Разработал: Артём Леонидов</h3>
</footer>
</body>
</html>