<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" href="../static/css/icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}" href="../static/css/user.css">
    <title>Файловик</title>
</head>
<body>

<div class="main">

    <div class="header">
        <a th:href="@{/}" class="logo"><img th:src="@{/images/logo.png}" width="250px"></a>

        <form th:action="@{/logout}" class="head_btn" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <input type="submit" value="Выйти из аккаунта"/>
        </form>
    </div>

    <div class="content">
        <div class="files">
            <tr th:if="${allFiles.isEmpty() or allFiles.get(0).isFile() == 'none'}">
                <td colspan="1">Загрузите файлы</td>
            </tr>
            <tr th:each="file : ${allFiles}">
                <td th:if="${file.isFile() == 'false'}">
                    <a class="dir" th:href="@{/user/file={file}(file=${file.getPathAndFile()})}">
                        <span th:text="${file.getName()}"></span>
                    </a>
                </td>
                <td th:if="${file.isFile() == 'true'}">
                    <a th:href="@{/file/get/path={path}/file={file}(path=${file.getPath()}, file=${file.getName()})}">
                        <span th:text="${file.getName()}"></span>
                    </a>
                </td>
            </tr>
        </div>
        <div class="menu-bar">
            <div class="search">
                <input type="text" value="" placeholder=" Найти...">
                <button type="submit">Поиск</button>
            </div>
            <br><br>
            <form class="buttons">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <tr>
                    <a><th>Создать папку</th></a>
                    <a><th>Загрузить файл</th></a>
                </tr>
            </form>
        </div>
    </div>
</div>
<footer class="footer">
    <h3>Разработал: Артём Леонидов</h3>
</footer>
</body>
</html>
<!--
<form method="post" th:action="@{/upload}" enctype="multipart/form-data">
    <input type="file" name="file" class="form-control-file">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <button type="submit" class="btn-submit">Upload File</button>
</form>-->

<!--<div class="upload_method">
    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
        <input type="file" name="file" class="form-control-file">
        <input type="hidden" id="path" name="path" th:value="${allFiles.get(0).getPath()}"/>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button type="submit" class="btn-submit">Загрузить файл</button>
    </form>
</div>-->

<!--<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>-->
