<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" href="../static/css/icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}" href="../static/css/user.css">
    <script type="text/javascript" src="../static/js/user.js" th:src="@{/js/user.js}"></script>
    <title>Файловик</title>
</head>
<body>
<div class="main">
    <div class="header">
        <a th:href="@{/}" class="logo"><img th:src="@{/images/logo.png}" width="250px"></a>
        <ul class="head_btn">
            <li><a>Меню</a>
                <ul>
                    <li><a th:href="@{/user/settings}">Настройки</a></li>
                    <li><a href="javascript: document.logoutForm.submit()">Выход</a></li>
                </ul>
            </li>
        </ul>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input type="submit" value="Выйти из аккаунта"/>
        </form>
    </div>

    <div class="content">
        <div class="files">
            <table>
                <tr>
                    <th>Наименование</th>
                    <th>Размер</th>
                    <th>Действие</th>
                </tr>
                <tr th:if="${listFiles.isEmpty() or listFiles.get(0).getIsFile() == 'none'}">
                    <td colspan="1">Загрузите файлы</td>
                    <td colspan="1"></td>
                    <td colspan="1"></td>
                </tr>
                <tr th:each="file : ${listFiles}">
                    <td th:if="${file.getIsFile() == 'false'}">
                        <a class="dir" th:href="@{/user/{path}(path=${file.getPathAndFile()})}">
                            <p th:text="${file.getName()}"></p>
                        </a>
                    </td>
                    <td th:if="${file.getIsFile() == 'true'}">
                        <a class="file" th:text="${file.getName()}"
                           th:href="@{/files/download/({path})/{file}(path=${file.getPath()}, file=${file.getName()})}">
                            <p th:text="${file.getName()}"></p>
                        </a>
                    </td>
                    <td class="file_size">
                        <p th:text="${file.getSize()}"></p>
                    </td>
                    <td class="file_btn" th:if="${file.getIsFile() == 'false'}">
                        <a class="rename" th:onclick="fillFormValuesRenameFile([[${file.getName()}]])" href="#zatemnenie"></a>
                        <a class="delete" th:onclick="fillFormValuesDeleteFile([[${listFiles.get(0).getPath()}]], [[${file.getName()}]])"></a>
                    </td>
                    <td class="file_btn" th:if="${file.getIsFile() == 'true'}">
                        <a class="rename" th:onclick="fillFormValuesRenameFile([[${file.getName()}]])" href="#zatemnenie"></a>
                        <a class="doctype" href="#"></a>
                        <a class="delete" th:onclick="fillFormValuesDeleteFile([[${listFiles.get(0).getPath()}]], [[${file.getName()}]])"></a>
                    </td>
                    <form id="deleteFileForm" name="deleteFileForm" th:action="@{/files/delete}" method="post" th:hidden="true">
                        <input type="hidden" name="path">
                        <input type="hidden" name="filename">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <button type="submit" th:hidden="true" class="btn-submit">Удалить</button>
                    </form>
                </tr>
            </table>
        </div>
        <div class="menu-bar">
            <div class="search">
                <input type="text" value="" placeholder=" Найти...">
                <button type="submit">Поиск</button>
            </div>
            <br>
            <form class="buttons">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <tr>
                    <a href="#zatemnenie3">
                        <td>Создать папку</td>
                    </a>
                    <br><br>
                    <a href="#zatemnenie2">
                        <td>Загрузить файл</td>
                    </a>
                </tr>
            </form>
        </div>
    </div>
    <div class="windows">
        <div id="zatemnenie">
            <div class="okno">
                <form id="renameFileForm" name="renameFileForm" th:action="@{/files/rename}" method="post">
                    <input name="path" type="hidden" th:value="${listFiles.get(0).getPath()}">
                    <input type="hidden" name="filename">
                    <input type="text" name="newFilename">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit" class="btn-submit">Переименовать</button>
                </form>
            </div>
        </div>
        <div id="zatemnenie2">
            <div class="okno">
                <form name="upload" th:action="@{/files/upload}" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" class="form-control-file">
                    <input name="path" type="hidden" th:value="${listFiles.get(0).getPath()}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit" class="btn-submit">Загрузить</button>
                </form>
                <br>
                <a href="#" class="close">Закрыть окно</a>
            </div>
        </div>
        <div id="zatemnenie3">
            <div class="okno">
                <form name="create-folder" th:action="@{/files/create-folder}" method="post">
                    <input name="path" type="hidden" th:value="${listFiles.get(0).getPath()}">
                    <input name="name" type="text">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit" class="btn-submit">Создать</button>
                </form>
                <br>
                <a href="#" class="close">Закрыть окно</a>
            </div>
        </div>
    </div>
</div>
<div class="push">
</div>
<footer class="footer">
    <h3>Разработал: Артём Леонидов</h3>
</footer>
</body>
</html>
<!--th:href="@{/file/get/({path})/{file}(path=${file.getPath()}, file=${file.getName()})}"-->
<!--<ul class="file_settings">
    <li>
        <ul>
            <li><a>Переименовать</a></li>
            <li><a>Удалить</a></li>
        </ul>
    </li>
</ul>-->
<!--
<form method="post" th:action="@{/upload}" enctype="multipart/form-data">
    <input type="file" name="file" class="form-control-file">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <button type="submit" class="btn-submit">Upload File</button>
</form>-->

<!--<div class="upload_method">
    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
        <input type="file" name="file" class="form-control-file">
        <input type="hidden" id="path" name="path" th:value="${listFiles.get(0).getPath()}"/>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button type="submit" class="btn-submit">Загрузить файл</button>
    </form>
</div>-->

<!--<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>-->

