<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" href="../static/css/icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user2.css}" href="../static/css/user2.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" href="../static/css/menu.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/user-forms.css}" href="../static/css/user-forms.css">
    <script type="text/javascript" src="../static/js/user.js" th:src="@{/js/user.js}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Source+Sans+Pro:ital@1&display=swap"
          rel="stylesheet">
    <title>DataSky</title>
</head>
<body>
<div class="main">
    <div class="content">
        <div class="background">
            <div class="menu">
                <a href="/" class="menu__logo logo">DataSky</a>
                <div th:if="${url}">
                    <ul class="menu__list list">
                        <li class="menu__item item">
                            <a href="/user" class="menu__link link">
                                <span>Вернуться на главную</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div th:if="${url == null}">
                    <ul class="menu__list list">

                        <!--<li class="menu__item item">
                            <a href="#" class="menu__link link">
                                <img src="./img/delete.svg" alt="Delete" />
                                <span>Поиск</span>
                            </a>
                        </li>-->

                        <!-- Элемент меню -->
                        <li class="menu__item item">
                            <!-- Ссылка меню -->
                            <a href="/user" class="menu__link link">
                                <span>Главная</span>
                            </a>
                        </li>
                        <li class="menu__item item">
                            <a href="/user/images" class="menu__link link">
                                <span>Изображения</span>
                            </a>
                        </li>
                        <li class="menu__item item">
                            <a href="/user/video" class="menu__link link">
                                <span>Видео</span>
                            </a>
                        </li>
                        <li class="menu__item item">
                            <a href="/user/music" class="menu__link link">
                                <span>Музыка</span>
                            </a>
                        </li>
                        <li class="menu__item item">
                            <a href="/user/docs" class="menu__link link">
                                <span>Документы</span>
                            </a>
                        </li>
                        <li class="menu__item item">
                            <a href="/user/shared" class="menu__link link">
                                <span>Общие файлы</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="menu__admin admin">
                    <li class="admin__item item">
                        <a href="/user/settings" class="admin__link link">
                            <span>Настройки</span>
                        </a>
                    </li>
                    <li class="admin__item item">
                        <a href="javascript: document.logoutForm.submit()" class="admin__link link">
                            <span>Выход</span>
                        </a>
                    </li>
                </ul>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input type="submit" value="Выйти из аккаунта"/>
                </form>
            </div>
            <div class="menu-bar">
                <form class="buttons">
                    <ul>
                        <div class="categories" th:if="${categories == null}">
                            <li><a href="#create-folder"><p>Создать папку</p></a></li>
                            <li><a href="#upload"><p>Загрузить файл</p></a></li>
                        </div>
                        <div class="memory-info">
                            <li><p th:text="${memory}"></p></li>
                        </div>
                    </ul>
                </form>
            </div>
            <div class="files">
                <table>
                    <tr>
                        <th>Наименование</th>
                        <th>Размер</th>
                        <th>Действие</th>
                    </tr>
                    <tr th:if="${listFiles.isEmpty() or listFiles.get(0).getIsFile() == 'none'}">
                        <span class="none" style="font-size: 35px;position: absolute;padding-top: 25%;padding-left: 40%;">Загрузите файлы</span>
                    </tr>
                    <tr class="file_td" th:each="file : ${listFiles}">
                        <td th:if="${file.getIsFile() == 'false'}">
                            <a class="dir" th:href="@{/user/p/{path}(path=${file.getPathAndFile()})}">
                                <p th:text="${file.getName()}"></p>
                            </a>
                        </td>
                        <td th:if="${file.getIsFile() == 'true'}">
                            <a class="file"
                               th:href="@{/files/download/({path})/{file}(path=${file.getPath()}, file=${file.getName()})}">
                                <p th:text="${file.getName()}"></p>
                            </a>
                        </td>
                        <td class="file_size">
                            <p th:text="${file.getSize()}"></p>
                        </td>
                        <td class="file_btn" th:if="${file.getIsFile() == 'false'}">
                            <a class="rename" th:onclick="fillFormValuesRenameFile([[${file.getName()}]], [[${file.getType()}]])"
                               href="#rename"></a>
                            <a class="delete"
                               th:onclick="fillFormValuesDeleteFile([[${listFiles.get(0).getPath()}]], [[${file.getName()}]])"
                               href="#"></a>
                        </td>
                        <td class="file_btn" th:if="${file.getIsFile() == 'true'}">
                            <a class="rename" th:onclick="fillFormValuesRenameFile([[${file.getName()}]], [[${file.getType()}]])"
                               href="#rename"></a>
                            <a class="doctype"
                               th:onclick="fillFormValuesSharedFile([[${listFiles.get(0).getPath()}]], [[${file.getName()}]], [[${file.getShare()}]])"
                               href="#shared"></a>
                            <a class="delete"
                               th:onclick="fillFormValuesDeleteFile([[${listFiles.get(0).getPath()}]], [[${file.getName()}]])"
                               href="#"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="forms">
        <div id="rename">
            <div class="okno">
                <span><a class="close" href="#">x</a></span>
                <form id="renameFileForm" name="renameFileForm" th:action="@{/files/rename}" method="post">
                    <input name="path" type="hidden" th:value="${listFiles.get(0).getPath()}">
                    <input type="hidden" name="filename">
                    <input type="hidden" name="type">
                    <input type="text" name="newFilename" placeholder="Введите новое название файла">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit" class="btn-submit">Переименовать</button>
                </form>
            </div>
        </div>
        <div id="upload">
            <div class="okno">
                <span><a class="close" href="#">x</a></span>
                <form name="upload" th:action="@{/files/upload}" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" class="form-control-file">
                    <input name="path" type="hidden" th:value="${listFiles.get(0).getPath()}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit" class="btn-submit">Загрузить</button>
                </form>
            </div>
        </div>
        <div id="create-folder">
            <div class="okno">
                <span><a class="close" href="#">x</a></span>
                <form name="create-folder" th:action="@{/files/create-folder}" method="post">
                    <input name="path" type="hidden" th:value="${listFiles.get(0).getPath()}">
                    <input name="name" type="text" placeholder="Введите название папки">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit" class="btn-submit">Создать</button>
                </form>
            </div>
        </div>
        <div id="shared">
            <div class="okno">
                <form name="shared" method="post" th:action="@{/files/shared}">
                    <input name="path" type="hidden" th:value="${listFiles.get(0).getPath()}">
                    <input type="hidden" name="filename">
                    <input name="id" type="hidden"/>
                    <input name="idurl" type="text" readonly/>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button id="sub" type="submit"></button>
                </form>
                <br>
                <a href="#" class="close">Закрыть окно</a>
            </div>
        </div>
        <form id="deleteFileForm" name="deleteFileForm" th:action="@{/files/delete}" method="post"
              th:hidden="true">
            <input type="hidden" name="path">
            <input type="hidden" name="filename">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button type="submit" th:hidden="true" class="btn-submit">Удалить</button>
        </form>
    </div>
</div>
<footer class="footer">
    <h3>Разработал: Артём Леонидов</h3>
</footer>
</body>
</html>

